<ion-header>
  <ion-toolbar > 
    <ion-title > Menú de Opciones</ion-title>
      <ion-button slot="end" (click)="salir()">Salir
        <ion-icon  ios="exit-outline" md="exit-outline"></ion-icon>
      </ion-button> 

  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  
  <ion-item>
    <img src="/assets/menu2.png" class="center" >
  </ion-item>

  <section>
    <ion-button   class="style-button ion-activatable ripple-parent "  (click)="navigateLista()">Lista Caseta 1</ion-button>
</section>

  <section>
    <!--
    <header class="style-text">Menú de Opciones</header>
    -->
      <ion-button    class=" style-button ion-activatable ripple-parent" (click)="navigateLector()">Lector QR</ion-button>
  </section>

  <section>
      <ion-button   class="style-button ion-activatable ripple-parent "  (click)="navigateVisualizador()">Sala de Juntas</ion-button>
  </section>

  

</ion-content>
