.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.style-text{
    margin: 10px;
    color: #ffffff;
}
.style-button{
    margin: 10px;
    color:  #ffffff;
    --background:	#F66B0E;

    
}